Repository newrelic/infrastructure-agent, pull requests merged in 2021-05, with the labels that each got.

#428 docs: tuning processing limits
  docs/README.md
Labels: documentation

#410 test: packaging initial install
  .gitignore
  test/packaging/ansible/initial_setup.yml
  test/packaging/ansible/roles/cleanup/tasks/files-Linux.yaml
  test/packaging/ansible/roles/cleanup/tasks/main.yaml
  test/packaging/ansible/roles/cleanup/tasks/package-Debian.yaml
  test/packaging/ansible/roles/cleanup/tasks/package-RedHat.yaml
  test/packaging/ansible/roles/cleanup/tasks/package-Suse.yaml
  test/packaging/ansible/roles/cleanup/tasks/service-Linux.yaml
  test/packaging/ansible/roles/initial-install/files/etc/newrelic-infra.yml.j2
  test/packaging/ansible/roles/initial-install/tasks/assert-service-Debian.yaml
  test/packaging/ansible/roles/initial-install/tasks/assert-service-RedHat.yaml
  test/packaging/ansible/roles/initial-install/tasks/assert-service-Suse.yaml
  test/packaging/ansible/roles/initial-install/tasks/assert-version-Linux.yaml
  test/packaging/ansible/roles/initial-install/tasks/config-Linux.yaml
  test/packaging/ansible/roles/initial-install/tasks/main.yaml
  test/packaging/ansible/roles/initial-install/tasks/package-Debian.yaml
  test/packaging/ansible/roles/initial-install/tasks/package-RedHat.yaml
  test/packaging/ansible/roles/initial-install/tasks/package-Suse.yaml
  test/packaging/ansible/roles/initial-install/tasks/repo-Amazon.yaml
  test/packaging/ansible/roles/initial-install/tasks/repo-Debian.yaml
  test/packaging/ansible/roles/initial-install/tasks/repo-RedHat.yaml
  test/packaging/ansible/roles/initial-install/tasks/repo-SLES.yaml
  test/packaging/ansible/roles/initial-install/tasks/repo-Ubuntu.yaml
  test/packaging/ansible/roles/initial-install/vars/main.yaml
  test/packaging/ansible/test.yml
  test/packaging/initial_setup.sh
  test/packaging/test.sh
Labels: epic/test-automation

#429 test: packaging files presence verification
  test/packaging/ansible/roles/package-files-verification/tasks/main.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Amazon-2-aarch64.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Redhat-7-aarch64.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Redhat-7.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Redhat-8-aarch64.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Redhat-8.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-SLES-12.3.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Ubuntu-16-aarch64.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Ubuntu-16.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Ubuntu-18-aarch64.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Ubuntu-18.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Ubuntu-20-aarch64.yaml
  test/packaging/ansible/roles/package-files-verification/vars/package-files-Ubuntu-20.yaml
  test/packaging/ansible/test.yml
Labels: epic/test-automation

#413 Added test for logging packaging
  test/packaging/ansible/roles/initial-install/handlers/main.yaml
  test/packaging/ansible/roles/logging/tasks/logging.yaml
  test/packaging/ansible/roles/logging/tasks/main.yaml
  test/packaging/ansible/roles/logging/vars/main.yaml
  test/packaging/ansible/roles/uninstall/files-Linux.yaml
  test/packaging/ansible/roles/uninstall/main.yaml
  test/packaging/ansible/roles/uninstall/package-Debian.yaml
  test/packaging/ansible/roles/uninstall/package-RedHat.yaml
  test/packaging/ansible/roles/uninstall/package-Suse.yaml
  test/packaging/ansible/roles/uninstall/service-Linux.yaml
Labels: epic/test-automation

#441 test: include logging role commented out
  test/packaging/ansible/roles/logging/tasks/logging.yaml
  test/packaging/ansible/roles/logging/tasks/main.yaml
  test/packaging/ansible/test.yml
Labels: ready for review

#444 test: packaging expected architecture in embedded integrations
  test/packaging/ansible/roles/agent-install/tasks/main.yml
  test/packaging/ansible/roles/assert-version/vars/main.yaml
  test/packaging/ansible/roles/embedded-integrations-architecture/tasks/main.yaml
  test/packaging/ansible/roles/package-install/vars/main.yaml
Labels: epic/test-automation

#443 test: packaging agent upgrade
  test/packaging/ansible/agent-upgrade.yml
  test/packaging/ansible/roles/agent-upgrade/tasks/assert-latest-version-Linux.yaml
  test/packaging/ansible/roles/agent-upgrade/tasks/main.yaml
  test/packaging/ansible/roles/agent-upgrade/tasks/upgrade-Debian.yaml
  test/packaging/ansible/roles/agent-upgrade/tasks/upgrade-RedHat.yaml
  test/packaging/ansible/roles/agent-upgrade/tasks/upgrade-Suse.yaml
Labels: epic/test-automation

#431 Test packaging run modes
  .gitignore
  test/packaging/ansible/agent-upgrade.yml
  test/packaging/ansible/installation-pinned.yml
  test/packaging/ansible/installation-privileged.yml
  test/packaging/ansible/installation-root.yml
  test/packaging/ansible/installation-unprivileged.yml
  test/packaging/ansible/log-forwarder.yml
  test/packaging/ansible/roles/agent-install/tasks/main.yml
  test/packaging/ansible/roles/agent-upgrade/tasks/assert-latest-version-Linux.yaml
  test/packaging/ansible/roles/agent-upgrade/tasks/main.yaml
  test/packaging/ansible/roles/agent-upgrade/tasks/upgrade-Debian.yaml
  test/packaging/ansible/roles/agent-upgrade/tasks/upgrade-RedHat.yaml
  test/packaging/ansible/roles/agent-upgrade/tasks/upgrade-Suse.yaml
  test/packaging/ansible/roles/assert-privileged-caps/tasks/check-Linux.yaml
  test/packaging/ansible/roles/assert-privileged-caps/tasks/main.yaml
  test/packaging/ansible/roles/assert-rootless/tasks/check-Linux.yaml
  test/packaging/ansible/roles/assert-rootless/tasks/main.yaml
  test/packaging/ansible/roles/assert-rootless/vars/main.yaml
  test/packaging/ansible/roles/assert-service/tasks/assert-service-Linux.yaml
  test/packaging/ansible/roles/assert-service/tasks/main.yaml
  test/packaging/ansible/roles/assert-version/tasks/assert-version-Linux.yaml
  test/packaging/ansible/roles/assert-version/tasks/main.yaml
  test/packaging/ansible/roles/assert-version/vars/main.yaml
  test/packaging/ansible/roles/embedded-integrations-architecture/tasks/main.yaml
  test/packaging/ansible/roles/initial-install/handlers/main.yaml
  test/packaging/ansible/roles/initial-install/tasks/assert-service-Debian.yaml
  test/packaging/ansible/roles/initial-install/tasks/assert-service-RedHat.yaml
  test/packaging/ansible/roles/initial-install/tasks/assert-service-Suse.yaml
  test/packaging/ansible/roles/initial-install/tasks/main.yaml
  test/packaging/ansible/roles/package-install/tasks/main.yaml
  test/packaging/ansible/roles/package-install/tasks/package-Debian.yaml
  test/packaging/ansible/roles/package-install/tasks/package-RedHat.yaml
  test/packaging/ansible/roles/package-install/tasks/package-Suse.yaml
  test/packaging/ansible/roles/package-install/vars/main.yaml
  test/packaging/ansible/roles/package-uninstall/tasks/assert-service-stopped-Linux.yaml
  test/packaging/ansible/roles/package-uninstall/tasks/main.yaml
  test/packaging/ansible/roles/package-uninstall/tasks/package-Debian.yaml
  test/packaging/ansible/roles/package-uninstall/tasks/package-RedHat.yaml
  test/packaging/ansible/roles/package-uninstall/tasks/package-Suse.yaml
  test/packaging/ansible/roles/repo-setup/tasks/main.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-Amazon.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-CentOS.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-Debian.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-RedHat.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-Suse.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-Ubuntu.yaml
  test/packaging/ansible/roles/repo-setup/vars/main.yaml
  test/packaging/ansible/roles/setup-config/files/etc/newrelic-infra.yml.j2
  test/packaging/ansible/roles/setup-config/tasks/config-Linux.yaml
  test/packaging/ansible/roles/setup-config/tasks/main.yaml
  test/packaging/ansible/roles/setup-config/vars/main.yaml
  test/packaging/ansible/test.yml
  test/packaging/ansible/uninstallation.yml
Labels: epic/test-automation

#452 Packaging tests: remove initial setup from test suite runner
  test/packaging/ansible/agent-upgrade.yml
  test/packaging/ansible/installation-pinned.yml
  test/packaging/ansible/roles/agent-upgrade/tasks/assert-latest-version-Linux.yaml
  test/packaging/ansible/roles/assert-version/tasks/assert-version-Linux.yaml
  test/packaging/ansible/roles/assert-version/vars/main.yaml
  test/packaging/ansible/roles/package-install/tasks/package-Debian.yaml
  test/packaging/ansible/roles/package-install/tasks/package-RedHat.yaml
  test/packaging/ansible/roles/package-install/tasks/package-Suse.yaml
  test/packaging/ansible/roles/package-install/vars/main.yaml
  test/packaging/ansible/roles/setup-config/vars/main.yaml
  test/packaging/ansible/test.yml
Labels: ready for review

#454 fix: repo setup
  test/packaging/ansible/repo-setup.yml
  test/packaging/ansible/roles/agent-install/tasks/main.yml
  test/packaging/ansible/test.yml
Labels: ready for review

#456 Packaging tests - setup repos
  test/packaging/ansible/installation-pinned.yml
  test/packaging/ansible/installation-privileged.yml
  test/packaging/ansible/installation-root.yml
  test/packaging/ansible/installation-unprivileged.yml
  test/packaging/ansible/repo-setup.yml
  test/packaging/ansible/roles/repo-setup/tasks/repo-Amazon.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-CentOS.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-RedHat.yaml
  test/packaging/ansible/test.yml
Labels: ready for review

#457 test: packaging agent running user assertions
  test/packaging/ansible/installation-privileged.yml
  test/packaging/ansible/installation-root.yml
  test/packaging/ansible/installation-unprivileged.yml
  test/packaging/ansible/roles/assert-agent-user/tasks/check-Linux.yaml
  test/packaging/ansible/roles/assert-agent-user/tasks/main.yaml
  test/packaging/ansible/roles/assert-agent-user/vars/main.yaml
  test/packaging/ansible/roles/assert-rootless/tasks/main.yaml
Labels: epic/test-automation, ready for review

#458 refactor: PID mgmt
  test/packaging/ansible/installation-privileged.yml
  test/packaging/ansible/installation-unprivileged.yml
  test/packaging/ansible/roles/assert-agent-user/tasks/check-Linux.yaml
Labels: ready for review

#460 fix install test al2
  test/packaging/ansible/installation-unprivileged.yml
  test/packaging/ansible/roles/cleanup/tasks/service-Linux.yaml
  test/packaging/ansible/roles/repo-setup/tasks/main.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-Amazon.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-CentOS.yaml
  test/packaging/ansible/roles/repo-setup/tasks/repo-RedHat.yaml
Labels: epic/test-automation, ready for review

#455 test: packaging test integrations in container
  test/packaging/test.sh
Labels: epic/test-automation, ready for review

#461 fix: test upgrade pgrep
  test/packaging/ansible/agent-upgrade.yml
Labels: epic/test-automation, ready for review

#392 ci: arm/arm64 release pipeline
  .github/workflows/prerelease_linux.yml
  .github/workflows/prerelease_staged_publish.yml
  .github/workflows/prerelease_windows.yml
  .github/workflows/release.yml
  .github/workflows/release_staged.yml.skip
  build/.goreleaser.yml
  build/ci.mk
  build/container/Dockerfile
  build/embed/fluent-bit.mk
  build/embed/integrations.mk
  build/release.mk
  build/upload-schema-linux-deb.yml
  build/upload-schema-linux-rpm.yml
  test/packaging/ansible/roles/cleanup/tasks/package-RedHat.yaml
Labels: ready for review

#483 test: packaging automated tests initial version
  test/packaging/ansible/agent-upgrade.yml
  test/packaging/ansible/installation-pinned.yml
  test/packaging/ansible/roles/agent-upgrade/tasks/assert-latest-version-Linux.yaml
  test/packaging/ansible/roles/assert-version/vars/main.yaml
Labels: ready for review
